{% load static %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CarShop{% endblock %}</title>
    {% block css_block %}
        <link rel="stylesheet" href="{% static 'list-parts.css' %}">
        <link rel="stylesheet" href="{% static 'css/auth_base.css' %}">
    {% endblock %}

    {% block js_block %}
        <script src="https://kit.fontawesome.com/4cf7026c74.js" crossorigin="anonymous"></script>
    {% endblock %}
</head>
<body>
    <section id="top-headers">
        <section id="top-header">
            <ul>
                <li id="logo">
                    <img src="{% static 'images/shop_logo.jpg' %}">
                </li>
                <li id="search-input">
                    <form id="search-bar"
                        action="{% url 'main' %}"
                        method="get">

                        <input type="text" name="search" placeholder="Enter something" required="" id="id_search">

                        <button type="submit" id="search-icon">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>

                        {% csrf_token %}

                    </form>
                </li>
                    <li id="profile">
                        <i class="fa-solid fa-user"></i>
                        {% if user.is_authenticated %}
                            <div class="logout-profile">
                                <a class="edit-account-link" href="{% url 'account' %}">
                                    <p>{{user.first_name}}</p>
                                </a>
                                <p><a class="sign-type" href="{% url 'logout_user' %}">Logout</a><p>
                            </div>

                        {% else %}
                            <div class="sign-profile">
                                <p><a class="sign-type" href="{% url 'login_user' %}">Sign in</a></p>
                                <p><a class="sign-type" href="{% url 'register_user' %}">Register</a></p>
                            </div>
                        {% endif %}
                    </li>
                <li>
                    <a href="{% url 'cart' %}">
                        <div id="cart">
                            <li><i class="fa-solid fa-cart-shopping"></i></li>
                            <li id="basket">
                                <p>MyCart</p>
                            </li>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

        <section id="header">
            <ul>
                <li>
                    <a href="{% url 'main' %}">
                        <p><i class="fa-solid fa-house"></i></p>
                    </a>
                </li>

                <li>
                    <p>CAR</p>
                    <p>BRANDS</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>PARTS</p>
                </li>

                <li>
                    <p>
                        <a href="{% url 'main' %}">
                        TYRES
                        </a>
                    </p>
                </li>

                <li>
                    <p>CAR</p>
                     <p>BULBS</p>
                </li>

                <li>
                    <p>ENGINE</p>
                    <p>OIL</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>CARE</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>ACCESSORIES</p>
                </li>

                <li>
                    <p>TOOLS</p>
                </li>

                <li>
                    <p>OFFERS</p>
                </li>

            </ul>
        </section>
    </section>
    {% block content %}
    {% endblock %}

    {% include 'footer.html' %}
</body>
</html>