{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="main">
        <section id="main-right-side">
                <div class="left-side">
                    <ul>
                        <li>
                            <div class="top-side-left">
                                <ul>
                                    <li>
                                        <p class="title-br">{{ tire.brand }}</p>
                                    </li>

                                    <li>
                                        <p>EAN: {{ tire.ean_num }}</p>
                                        <p>MPN: {{ tire.mpn_num }}</p>
                                    </li>

                                    <li>
                                        <p>STARS</p>
                                        <p>Please rate this product</p>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="product-desc">

                            <div class="product-desc-left">
                                <ul>
                                    <li class="pr-desc">
                                        <p><img class="product-desc-img" src="{% static 'images/no-tyre.jpg' %}"></p>
                                        <p>PHOTO IS NOT</p>
                                        <p>AVAILABLE</p>
                                    </li>

                                    <li>
                                        <div class="deliv">
                                            <p><img class="product-desc-img" src="{% static 'images/delivery-img.jpg' %}"></p>
                                            <p>FREE DELIVERY</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-desc-right">

                                <ul>
                                    <li class="product-name">
                                        <p>{{tire.brand}}</p>
                                        <p>{{tire.model}}</p>
                                    </li>

                                    <li>
                                        <div class="main-product-desc">

                                            <ul>
                                                <li>
                                                    <p>Width:</p>
                                                    <p>{{ tire.width }}</p>
                                                </li>

                                                <li>
                                                    <p>Height:</p>
                                                    <p>{{ tire.height }}</p>
                                                </li>

                                                <li>
                                                    <p>Type:</p>
                                                    <p>{{ tire.type }}</p>
                                                </li>

                                                <li>
                                                    <p>Diameter:</p>
                                                    <p>{{ tire.diameter }}</p>
                                                </li>

                                                <li>
                                                    <p>Load index:</p>
                                                    <p>{{ tire.load_index }}</p>
                                                </li>

                                                <li>
                                                    <p>Speed rating:</p>
                                                    <p>{{ tire.speed_index }}</p>
                                                </li>

                                                <li>
                                                    <p>Type:</p>
                                                    <p>Car</p>
                                                </li>

                                                <li>
                                                    <p>Season:</p>
                                                    <p>{{ tire.season }}</p>
                                                </li>

                                                <li>
                                                    <p>Rim Protector:</p>
                                                    <p>{{ tire.rim_protection }}</p>
                                                </li>

                                                <li>
                                                    <p>Run-Flat TYRES:</p>
                                                    <p>{{ tire.run_flat }}</p>
                                                </li>

                                            </ul>
                                        </div>
                            </li>
                        </ul>
                    </div>
                    </li>
                </ul>
            </div>
            </a>
        </section>
        <section id="price-section">
            <ul>

                <li>
                    <div class="price">
                        <p>€</p>
                        <p>{{ tire.price }}</p>
                    </div>
                </li>

                <li>
                    <div class="quantity">
                            <button class="plus-btn" type="button" name="button"><i class="fa-solid fa-arrow-right"></i></button>
                            <input id="quantity" type="text" name="name" value="1" readonly>
                            <button class="minus-btn" type="button" name="button"><i class="fa-solid fa-arrow-left"></i></button>
                    </div>
                </li>

                    <div class="add-to-cart">
                        <button data-product="{{ tire.id }}" data-action="add" class="add-to-cart-btn update-cart" type="button">
                            <p><i class="fa-solid fa-shopping-cart"></i></p>
                        <p>ADD TO CART</p>
                        </button>
                        <button data-product="{{ tire.id }}" data-action="add" class="add-to-wishlist-btn update-cart" type="button">
                            <p>Add to Wishlist</p>
                        </button>
                    </div>

            </ul>
        </section>
    </section>


    <script>
        function add_quantyty() {
            let quantity = 1;
        }

        function SingIn(){
            if (user.is_authenticated){
                let sign_in = "Log out";
                sign_in.href = "{% url 'logout_user' %}";
            } else {
                let sign_in = "Sign in";
                sign_in.href = "{% url 'login_user' %}";
            }
        }

        let quantity = document.querySelector('.quantity input');
        let plusBtn = document.querySelector('.plus-btn');
        let minusBtn = document.querySelector('.minus-btn');
        let total = document.querySelector('.tot-price');
        let quantityValue = 1;
        let csrftoken = "{{ csrf_token }}"
        // let customer_id = {{ customer }}

        plusBtn.addEventListener('click', function(){
            console.log('plus');

            quantityValue++;
            console.log(quantityValue);

            quantity.value = quantityValue;
        })

        minusBtn.addEventListener('click', function(){
            console.log('minus');

            if (quantityValue > 1){
                quantityValue--;
                console.log(quantityValue);

                quantity.value = quantityValue;
            }
        })

        /////////// Add to Cart ///////////

            let updateBtns = document.getElementsByClassName('add-to-cart-btn')


            for (let i = 0; i < updateBtns.length; i++) {

                updateBtns[i].addEventListener('click', function (){
                    let productId = this.dataset.product
                    let action = this.dataset.action
                    let quantity = document.getElementById('quantity').value
                    console.log('productId:', productId, 'Action:', action, 'Quantity:', quantity)

                    updateUserOrder(productId, action, quantity)
                })
            }

            function updateUserOrder(productId, action, quantity){

                    console.log('User is authenticated, sending data...')
                    console.log('csrf:', csrftoken)


                    var url = '/update_item/'

                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'productId':productId, 'action':action, 'quantity': quantity})
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            location.reload()
                        });
                }


            /////////// Add to Wishlist ///////////

            let WishlistUpdateBtns = document.getElementsByClassName('add-to-wishlist-btn')


            for (let i = 0; i < WishlistUpdateBtns.length; i++) {

                WishlistUpdateBtns[i].addEventListener('click', function (){
                    let productId = this.dataset.product
                    let action = this.dataset.action
                    console.log('productId:', productId, 'Action:', action)

                    WishlistItemUpdate(productId, action)
                })
            }

            function WishlistItemUpdate(productId, action){

                    console.log('User is authenticated, sending data...')
                    console.log('csrf:', csrftoken)


                    var url = '/wishlist_item/'

                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'productId':productId, 'action':action})
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            location.reload()
                        });
                }

         </script>
{% endblock %}