{% load static %}
    <section id="footer">
        <p><a class="privacy-link" href="{% url 'privacy' %}">Privacy</a><p>
        <p><a class="contact-link" href="{% url 'contact' %}">Contact us</a></p>
        <p><a class="terms-and-conditions-link" href="{% url 'terms-and-conditions' %}">Terms and Conditions</a></p>
        <p><a class="edit-account-link" href="{% url 'account' %}">Edit account</a></p>
        <p><a class="wishlist-link" href="{% url 'wishlist' %}">Wishlist</a></p>
    </section>