{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="top-headers">
        <section id="top-header">
            <ul>
                <li id="logo">
                    <img src="{% static 'images/shop_logo.jpg' %}">
                </li>
                <li id="search-input">
                    <input type="text" placeholder="Search by product, vehicle, or brand">
                    <div id="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </li>
                <li id="profile">
                    <i class="fa-solid fa-user"></i>
                    <p class="sign-profile">Sign in</p>
                </li>
                <li>
                    <div id="cart">
                        <li><i class="fa-solid fa-cart-shopping"></i></li>
                        <li id="basket">
                            <p>Basket</p>
                            <p class="id">ID</p>
                        </li>
                    </div>
                </li>
            </ul>
        </section>

        <section id="header">
            <ul>
                <li>
                    <p><i class="fa-solid fa-house"></i></p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>BRANDS</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>PARTS</p>
                </li>

                <li>
                    <p>TYRES</p>
                </li>

                <li>
                    <p>CAR</p>
                     <p>BULBS</p>
                </li>

                <li>
                    <p>ENGINE</p>
                    <p>OIL</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>CARE</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>ACCESSORIES</p>
                </li>

                <li>
                    <p>TOOLS</p>
                </li>

                <li>
                    <p>OFFERS</p>
                </li>

            </ul>
        </section>

        <section id="car-header">
            <p class="selected-car">Car tyres for THE SELECTED CAR</p>
            <p class="selected-shop">SELECTED SHOP > CAR ARTICULS > CAR BRAND ARTICUL</p>
        </section>
    </section>

    <section id="main-part">
        <section id="main-part-left">
            <section id="vehicle-search">
                <div>
                    <p>SELECT VEHICLE</p>
                    <p><i class="fa-solid fa-rotate-right"></i></p>
                </div>
                <ul>
                    <li class="select">
                        <p class="num">1</p>
                        <input type="text" placeholder="CAR BRAND">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="select">
                        <p class="num">2</p>
                        <input type="text" placeholder="CAR MODEL">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="select">
                        <p class="num">3</p>
                        <input type="text" placeholder="CAR ENGINE">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>
                </ul>
            </section>
            <section id="registration_field">
                <div>
                    <p class="reg">ENTER YOUR REGISTRATION BELOW</p>
                </div>
                <ul>
                    <li>
                        <div id="reg-box">
                            <p><img src="{% static 'images/Flag_of_Bulgaria.svg.png' %}"></p>
                            <p>CT</p>
                        </div>

                        <input class="reg-input" type="text" placeholder="YOUR REG">
                    </li>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>

                </ul>
            </section>

            <section id="tyre-search">
                <div class="search-tyre">
                    <p>TYRE SEARCH</p>
                    <p><i class="fa-solid fa-rotate-right"></i></p>
                </div>
                <ul>
                    <li>
                        <p><img src="{% static 'images/tyre-img.jpg' %}"></p>
                    </li>

                    <div>
                        <li class="param-box">
                            <p>Width</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                        <li class="param-box">
                            <p>Height</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                        <li class="param-box">
                            <p>Diameter</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                    </div>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>

                </ul>
            </section>

            <section id="payment-methods">

                <ul>
                    <li>
                        <p>PAYMENTS METHOD</p>
                    </li>
                    <hr>
                    <li>
                        <p>PAYMENT WAYS IMAGES</p>
                    </li>
                </ul>
            </section>

            <section id="shop-review">
                <ul>
                    <li>
                        <p>Top Price</p>
                    </li>

                    <li>
                        <p>Shipping costs</p>
                    </li>

                    <li>
                        <p>Wide choice</p>
                    </li>

                    <li>
                        <p>Fast delivery</p>
                    </li>
                </ul>
            </section>
        </section>

        <section id="main-right-side">
            {% for tire in tyres %}
            <div class="left-side">
                <ul>
                    <li>
                        <div class="top-side-left">
                            <ul>
                                <li>
                                    <p class="title-br">{{ tire.brand }}</p>
                                </li>

                                <li>
                                    <p>EAN: {{ tire.ean_num }}</p>
                                    <p>MPN: {{ tire.mpn_num }}</p>
                                </li>

                                <li>
                                    <p>STARS</p>
                                    <p>Please rate this product</p>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="product-desc">

                        <div class="product-desc-left">
                            <ul>
                                <li>
                                    <p>{{ tire.image }}</p>
                                </li>

                                <li>
                                    <div>
                                        <p>FAST DELIVERY IMG</p>
                                        <p>FREE DELIVERY</p>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="product-desc-right">

                            <ul>
                                <li>
                                    <p>PRODUCT NAME</p>
                                </li>

                                <li>
                                    <div>
                                        <p>The EU tyre label</p>
                                        <p>EU TYRE LABEL IMG</p>
                                    </div>
                                    <p>SEASON IMG</p>
                                </li>

                                <li>
                                    <div class="main-product-desc">

                                        <ul>
                                            <li>
                                                <p>Width:</p>
                                                <p>{{ tire.width }}</p>
                                            </li>

                                            <li>
                                                <p>Height:</p>
                                                <p>{{ tire.height }}</p>
                                            </li>

                                            <li>
                                                <p>Type:</p>
                                                <p>{{ tire.type }}</p>
                                            </li>

                                            <li>
                                                <p>Diameter:</p>
                                                <p>{{ tire.diameter }}</p>
                                            </li>

                                            <li>
                                                <p>Load index:</p>
                                                <p>{{ tire.load_index }}</p>
                                            </li>

                                            <li>
                                                <p>Speed rating:</p>
                                                <p>{{ tire.speed_index }}</p>
                                            </li>

                                            <li>
                                                <p>Type:</p>
                                                <p>Car</p>
                                            </li>

                                            <li>
                                                <p>Season:</p>
                                                <p>{{ tire.season }}</p>
                                            </li>

                                            <li>
                                                <p>Rim Protector:</p>
                                                <p>{{ tire.rim_protection }}</p>
                                            </li>

                                            <li>
                                                <p>Run-Flat TYRES:</p>
                                                <p>{{ tire.run_flat }}</p>
                                            </li>

                                        </ul>
                                    </div>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>

                    </li>
                </ul>
            </div>
        </section>
    </section>

{% endblock content %}