{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section id="top-headers">
        <section id="top-header">
            <ul>
                <li id="logo">
                    <img src="{% static 'images/shop_logo.jpg' %}">
                </li>
                <li id="search-input">
                    <input type="text" placeholder="Search by product, vehicle, or brand">
                    <div id="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </li>
                    <li id="profile">
                        <i class="fa-solid fa-user"></i>
                        {% if user.is_authenticated %}
                            <div class="logout-profile">
                                <p>{{user.username}}</p>
                                <p><a class="sign-type" href="{% url 'logout_user' %}">Logout</a><p>
                            </div>

                        {% else %}
                            <div class="sign-profile">
                                <p><a class="sign-type" href="{% url 'login_user' %}">Sign in</a></p>
                            </div>
                        {% endif %}
                    </li>
                <li>
                    <a href="{% url 'cart' %}">
                        <div id="cart">
                            <li><i class="fa-solid fa-cart-shopping"></i></li>
                            <li id="basket">
                                <p>Basket</p>
                                <p class="id">ID</p>
                            </li>
                        </div>
                    </a>
                </li>
            </ul>
        </section>

        <section id="header">
            <ul>
                <li>
                    <p><i class="fa-solid fa-house"></i></p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>BRANDS</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>PARTS</p>
                </li>

                <li>
                    <p>TYRES</p>
                </li>

                <li>
                    <p>CAR</p>
                     <p>BULBS</p>
                </li>

                <li>
                    <p>ENGINE</p>
                    <p>OIL</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>CARE</p>
                </li>

                <li>
                    <p>CAR</p>
                    <p>ACCESSORIES</p>
                </li>

                <li>
                    <p>TOOLS</p>
                </li>

                <li>
                    <p>OFFERS</p>
                </li>

            </ul>
        </section>

        <section id="car-header">
            <p class="selected-car">Car tyres for THE SELECTED CAR</p>
            <p class="selected-shop">SELECTED SHOP > CAR ARTICULS > CAR BRAND ARTICUL</p>
        </section>
    </section>

    <section id="main-part">
        <section id="main-part-left">
            <section id="vehicle-search">
                <div>
                    <p>SELECT VEHICLE</p>
                    <p><i class="fa-solid fa-rotate-right"></i></p>
                </div>
                <ul>
                    <li class="select">
                        <p class="num">1</p>
                        <input type="text" placeholder="CAR BRAND">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="select">
                        <p class="num">2</p>
                        <input type="text" placeholder="CAR MODEL">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="select">
                        <p class="num">3</p>
                        <input type="text" placeholder="CAR ENGINE">
                        <p><i class="fa-solid fa-chevron-down"></i></p>
                    </li>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>
                </ul>
            </section>
            <section id="registration_field">
                <div>
                    <p class="reg">ENTER YOUR REGISTRATION BELOW</p>
                </div>
                <ul>
                    <li>
                        <div id="reg-box">
                            <p><img src="{% static 'images/Flag_of_Bulgaria.svg.png' %}"></p>
                            <p>CT</p>
                        </div>

                        <input class="reg-input" type="text" placeholder="YOUR REG">
                    </li>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>

                </ul>
            </section>

            <section id="tyre-search">
                <div class="search-tyre">
                    <p>TYRE SEARCH</p>
                    <p><i class="fa-solid fa-rotate-right"></i></p>
                </div>
                <ul>
                    <li>
                        <p><img src="{% static 'images/tyre-img.jpg' %}"></p>
                    </li>

                    <div>
                        <li class="param-box">
                            <p>Width</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                        <li class="param-box">
                            <p>Height</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                        <li class="param-box">
                            <p>Diameter</p>
                            <div class="select-param">
                                <input type="text" placeholder="All">
                                <p><i class="fa-solid fa-chevron-down"></i></p>
                            </div>
                        </li>

                    </div>

                    <li class="search">
                        <button>
                            <p><i class="fa-solid fa-magnifying-glass"></i></p>
                            <p>SEARCH</p>
                        </button>
                    </li>

                </ul>
            </section>

            <section id="payment-methods">

                <ul>
                    <li>
                        <p>PAYMENT METHODS</p>
                    </li>
                    <hr>
                    <li>
                        <div>
                            <img src="{% static 'images/payment-methods/paypal.png' %}">
                            <img src="{% static 'images/payment-methods/visa.png' %}">
                            <img src="{% static 'images/payment-methods/mastercard.png' %}">
                            <img src="{% static 'images/payment-methods/bank-transfer.png' %}">

                        </div>
                    </li>
                </ul>
            </section>

            <section id="shop-review">
                <ul>
                    <p>Auto parts shop</p>
                    <hr>
                    <li>
                         <img src="{% static 'images/review-icons/top-price.jpg' %}">
                        <p>Top Price</p>
                    </li>

                    <li>
                        <img src="{% static 'images/review-icons/Fast_Delivery.jpg' %}">
                        <p>Shipping costs</p>
                    </li>

                    <li>
                        <img src="{% static 'images/review-icons/choices.jpg' %}">
                        <p>Wide choice</p>
                    </li>

                    <li>
                        <img src="{% static 'images/delivery-img.jpg' %}">
                        <p>Fast delivery</p>
                    </li>
                </ul>
            </section>
        </section>

        <section id="main-right-side">
            {% for tire in tyres %}
            <a href="{% url 'tyre_detail' tire.id %}">
                <div class="left-side">
                    <ul>
                        <li>
                            <div class="top-side-left">
                                <ul>
                                    <li>
                                        <p class="title-br">{{ tire.brand }}</p>
                                    </li>

                                    <li>
                                        <p>EAN: {{ tire.ean_num }}</p>
                                        <p>MPN: {{ tire.mpn_num }}</p>
                                    </li>

                                    <li>
                                        <p>STARS</p>
                                        <p>Please rate this product</p>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="product-desc">

                            <div class="product-desc-left">
                                <ul>
                                    <li class="pr-desc">
                                        <p><img class="product-desc-img" src="{% static 'images/no-tyre.jpg' %}"></p>
                                        <p>PHOTO IS NOT</p>
                                        <p>AVAILABLE</p>
                                    </li>

                                    <li>
                                        <div class="deliv">
                                            <p><img class="product-desc-img" src="{% static 'images/delivery-img.jpg' %}"></p>
                                            <p>FREE DELIVERY</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="product-desc-right">

                                <ul>
                                    <li class="product-name">
                                        <p>{{tire.brand}}</p>
                                        <p>{{tire.model}}</p>
                                    </li>

<!--                                    <li>-->
<!--                                        <div>-->
<!--                                            <p>The EU tyre label</p>-->
<!--                                            <p>EU TYRE LABEL IMG</p>-->
<!--                                        </div>-->
<!--                                        <p>SEASON IMG</p>-->
<!--                                    </li>-->

                                    <li>
                                        <div class="main-product-desc">

                                            <ul>
                                                <li>
                                                    <p>Width:</p>
                                                    <p>{{ tire.width }}</p>
                                                </li>

                                                <li>
                                                    <p>Height:</p>
                                                    <p>{{ tire.height }}</p>
                                                </li>

                                                <li>
                                                    <p>Type:</p>
                                                    <p>{{ tire.type }}</p>
                                                </li>

                                                <li>
                                                    <p>Diameter:</p>
                                                    <p>{{ tire.diameter }}</p>
                                                </li>

                                                <li>
                                                    <p>Load index:</p>
                                                    <p>{{ tire.load_index }}</p>
                                                </li>

                                                <li>
                                                    <p>Speed rating:</p>
                                                    <p>{{ tire.speed_index }}</p>
                                                </li>

                                                <li>
                                                    <p>Type:</p>
                                                    <p>Car</p>
                                                </li>

                                                <li>
                                                    <p>Season:</p>
                                                    <p>{{ tire.season }}</p>
                                                </li>

                                                <li>
                                                    <p>Rim Protector:</p>
                                                    <p>{{ tire.rim_protection }}</p>
                                                </li>

                                                <li>
                                                    <p>Run-Flat TYRES:</p>
                                                    <p>{{ tire.run_flat }}</p>
                                                </li>

                                            </ul>
                                        </div>
                            </li>
                        </ul>
                    </div>
                    </li>
                </ul>
            </div>
            </a>
            {% endfor %}
        </section>
        <section id="price-section">
            {% for tire in tyres %}
            <ul>

                <li>
                    <div class="price">
                        <p>€</p>
                        <p>{{ tire.price }}</p>
                    </div>
                </li>

                <li>
                    <div class="quantity">
                            <button class="plus-btn" type="button" name="button"><i class="fa-solid fa-arrow-right"></i></button>
                            <input id="quantity" type="text" name="name" value="1" readonly>
                            <button class="minus-btn" type="button" name="button"><i class="fa-solid fa-arrow-left"></i></button>
                    </div>
                </li>

                <li>
                    <div class="add-to-cart">
                        <button data-product="{{ tire.id }}" data-action="add" class="add-to-cart-btn update-cart" type="button">
                            <p><i class="fa-solid fa-shopping-cart"></i></p>
                            <p>ADD TO CART</p>
                        </button>
                    </div>
                </li>

            </ul>
            {% endfor %}
        </section>
    </section>

    <script>
        function add_quantyty() {
            let quantity = 1;
        }

        function SingIn(){
            if (user.is_authenticated){
                let sign_in = "Log out";
                sign_in.href = "{% url 'logout_user' %}";
            } else {
                let sign_in = "Sign in";
                sign_in.href = "{% url 'login_user' %}";
            }
        }

        let quantity = document.querySelector('.quantity input');
        let plusBtn = document.querySelector('.plus-btn');
        let minusBtn = document.querySelector('.minus-btn');
        let total = document.querySelector('.tot-price');
        let quantityValue = 1;
        // let customer_id = {{ customer }}

        plusBtn.addEventListener('click', function(){
            console.log('plus');

            quantityValue++;
            console.log(quantityValue);

            quantity.value = quantityValue;
        })

        minusBtn.addEventListener('click', function(){
            console.log('minus');

            if (quantityValue > 1){
                quantityValue--;
                console.log(quantityValue);

                quantity.value = quantityValue;
            }
        })

        /////////// Add to Cart ///////////

        let user = '{{request.user}}'

            let updateBtns = document.getElementsByClassName('add-to-cart-btn')


            for (let i = 0; i < updateBtns.length; i++) {

                updateBtns[i].addEventListener('click', function (){
                    let productId = this.dataset.product
                    let action = this.dataset.action
                    let quantity = document.getElementById('quantity').value
                    console.log('productId:', productId, 'Action:', action, 'Quantity:', quantity)

                    console.log('User:', user)

                    updateUserOrder(productId, action, quantity)
                })
            }

            function updateUserOrder(productId, action, quantity){

                    console.log('User is authenticated, sending data...')


                    var url = '/update_item/'

                    fetch(url, {
                        method:'POST',
                        headers:{
                            'Content-Type':'application/json',
                            'X-CSRFToken':csrftoken,
                        },
                        body:JSON.stringify({'productId':productId, 'action':action, 'quantity': quantity})
                    })
                        .then((response) => {
                            return response.json();
                        })
                        .then((data) => {
                            location.reload()
                        });
                }

    </script>


{% endblock content %}