@media only screen and (max-width: 1921px) {
   .table h5 {
    margin-right: 0;
    }

}

@media only screen and (max-width: 1868px) {
   .table h5 {
    margin-right: 20rem;
    }

}

@media only screen and (max-width: 1814px) {
   .table h5 {
    margin-right: 19rem;
    }

}

@media only screen and (max-width: 1761px) {
   .table h5 {
    margin-right: 18rem;
    }

}

@media only screen and (max-width: 1708px) {
   .table h5 {
    margin-right: 17rem;
    }

}

@media only screen and (max-width: 1654px) {
   .table h5 {
    margin-right: 16rem;
    }

}

@media only screen and (max-width: 1601px) {
   .table h5 {
    margin-right: 15rem;
    }

}

@media only screen and (max-width: 1548px) {
   .table h5 {
    margin-right: 14rem;
    }

}

@media only screen and (max-width: 1494px) {
   .table h5 {
    margin-right: 13rem;
    }

}

@media only screen and (max-width: 1441px) {
   .table h5 {
    margin-right: 12rem;
    }
}

@media only screen and (max-width: 1388px) {
   .table h5 {
    margin-right: 11rem;
    }
}

@media only screen and (max-width: 1334px) {
   .table h5 {
    margin-right: 10rem;
    }
}

@media only screen and (max-width: 1281px) {
   .table h5 {
    margin-right: 9rem;
    }
}

@media only screen and (max-width: 1228px) {
   .table h5 {
    margin-right: 140px;
    }
}

@media only screen and (max-width: 1214px) {
   .table h5 {
    margin-right: 130px;
    }
}

@media only screen and (max-width: 1181px) {
   .table h5 {
    margin-right: 120px;
    }
}

@media only screen and (max-width: 1148px) {
   .table h5 {
    margin-right: 110px;
    }
}

@media only screen and (max-width: 1114px) {
   .table h5 {
    margin-right: 100px;
    }
}

@media only screen and (max-width: 1081px) {
   .table h5 {
    margin-right: 90px;
    }
}

@media only screen and (max-width: 1048px) {
   .table h5 {
    margin-right: 80px;
    }
}

@media only screen and (max-width: 1014px) {
   .table h5 {
    margin-right: 70px;
    }
}

@media only screen and (max-width: 981px) {
   .table h5 {
    margin-right: 60px;
    }
}

@media only screen and (max-width: 1040px) {
   .row {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    }
}

@media only screen and (max-width: 1007px) {
   .row {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    }
}