/*body {*/
/*    background-color: #f5f5f5;*/
/*}*/

/*h1,h2,h3,h4,h5,h6{*/
/*	color:hsl(0, 0%, 30%);*/
/*}*/

/*.box-element {*/
/*    box-shadow:hsl(0, 0%, 80%) 0 0 16px;*/
/*    background-color: #fff;*/
/*    border-radius: 4px;*/
/*    padding: 10px;*/
/*}*/


body{
	background-color: hsl(0, 0%, 98%);
}

h1,h2,h3,h4,h5,h6{
	color:hsl(0, 0%, 30%);
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
	font-size: 21px;
}

.bg-dark{
	background-color: #4f868c!important;
}

#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12{
	margin-top: 10px;
}

.btn{
	border-radius: 0;
}

.row-image{
	width: 100px;
}


.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid lightgray;


}


.btn-outline-dark{
	text-decoration: none;
    color: black;
    font-weight: bold;
    border: 3px solid;
    padding: 2px;
    margin: 25px;
    border-color: lightgray;
    font-size: 23px;
}

.row {
	width: 60%;
	margin: auto;
	margin-top: 30px;
}
.table h5{
	margin-right: 22rem;
    font-size: 24px;
}

.table{
	padding-top: 10px;
	border-top: 2px solid lightgray;
	display: flex;
}

.btn-outline-dark:hover{
	transition-duration: 1s;
	background-color: #4f868c;
	color: #fff;
}

/*.btn-success:hover{*/
/*	transition-duration: 1s;*/
/*	background-color: #4f868c;*/
/*	color: #fff;*/
/*	cursor: pointer;*/
/*}*/

.btn-success{
	font-size: 21px;
    background-color: green;
    color: white;
    margin-right: 20px;
    width: 11rem;
    max-height: 65px;
    border: 4px solid;
    cursor: pointer;
    padding: 5px;
}

.btn-success:hover{
	transition-duration: 1s;
    background-color: white;
    color: black;
    box-shadow: 0 12px 16px 0 gray;
}

.fa-trash{
	font-size: 26px;
    margin-top: 22px;
    margin-left: 16px;
}

.trash {
	border: none;
	background: none;
	cursor: pointer;
}

.arrow-up,
.arrow-down {
	border: none;
	background: none;
	font-size: 20px;
	cursor: pointer;
}

#img-overlay,
#img-overlay-1,
#loading-dots{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#img-overlay img,
#img-overlay-1 img{
  max-width: 90%;
  max-height: 90%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/*.loading-dots {*/
/*    display: none;*/
/*    text-align: center;*/
/*    z-index: 5;*/
/*}*/

.dot {
    display: inline;
    margin-left: 0.2em;
    margin-right: 0.2em;
    position: relative;
    top: -1em;
    font-size: 6rem;
    opacity: 0;
    animation: showHideDot 2.5s ease-in-out infinite;
}

.one {
    animation-delay: 0.2s;
}

.two {
    animation-delay: 0.4s;
}

.three {
    animation-delay: 0.6s;
}

@keyframes showHideDot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.dots {
    display: flex;
    text-align: center;
    justify-content: center;
}

#loading-dots h1{
    font-size: 5rem;
	color: white;
}

#img-overlay-1 img{
    max-width: 65%;
    max-height: 65%;
}

#img-overlay-1 h1{
	color: white;
}