#top-header{
    display: flex;
    background: radial-gradient(circle at -1% 57.5%, rgb(19, 170, 82) 0%, rgb(0, 102, 43) 90%);
}

#top-header img{
    width: 150px;
}

#top-header ul{
    display: flex;
    flex-direction: row;
    padding-left: 160px;
}

#top-header ul li{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 30px;
}

#top-header ul li:nth-child(1){
    margin-left: 0px;
}

#top-header .fa-magnifying-glass {
    background: yellow;
    padding: 2px;
    width: 2.8rem;
    height: 2.3rem;
    justify-content: center;
    font-size: 21px;
    display: flex;
    align-items: center;
    border: none;
}

.fa-user{
    color: white;
    margin-left: 49px;
    font-size: 30px;
}

.sign-profile{
    color: white;
    margin-left: 15px;
    font-size: 20px;
}

.fa-cart-shopping{
    color: white;
    font-size: 28px;
    margin-left: 8px;
}

#basket p{
    font-size: 20px;
    color: white;
}

#top-header ul li:nth-last-child(1){
    margin-left: 15px;
}

#search-input input{
    width: 26rem;
    height: 2.3rem;
    margin-left: 90px;
}

#header{
    display: flex;
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    justify-content: space-evenly;
}

#header ul{
    display: flex;
}

#header li {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 60px;
}

#header li:nth-child(1){
    margin-left: -60px;
}

#header li p{
    margin-bottom: -10px;
    color: white;
}

.fa-house{
    color: white;
    font-size: 25px;
}

#car-header{
    display: flex;
    flex-direction: column;
    padding-left: 190px;
    padding-top: 20px;
}

#main-part-left{
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    width: 22rem;
}

#vehicle-search ul li {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    align-items: center;
}

#vehicle-search ul li input{
    height: 25px;
    width: 11.5rem;
    margin-left: 7px;
}

.num {
    background: green;
    padding: 5px;
    border-radius: 100%;
    padding-right: 10px;
    padding-left: 10px;
    color: white;
}

.fa-chevron-down{
    padding: 7px;
    background: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

#vehicle-search button{
    display: flex;
    width: 9rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border: none;
    cursor: pointer;
}

#vehicle-search ul{
    height: 18rem;
}

#vehicle-search .search {
    padding-left: 47px;
    padding-top: 11px;
}

#vehicle-search .fa-magnifying-glass{
    margin-right: 10px;
}

#main-part-left{
    margin-left: 90px;
}

#vehicle-search div {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    justify-content: space-around;
    color: white;
}

#registration_field .reg{
     display: flex;
    align-items: center;
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    height: 3rem;
    margin-bottom: 25px;
    margin-top: -31px;
    color: white;
}

#registration_field img{
    width: 30px;
    margin-top: -5px;
}

#reg-box{
    background: linear-gradient(to top, #09203f 0%, #537895 100%);
    width: 3.9rem;
    height: 3.7rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

#reg-box p:nth-child(2){
    margin-top: -15px;
    color: white;
}

#registration_field ul {
    list-style: none;
}

#registration_field ul li{
    display: flex;
}

.reg-input{
    width: 13rem;
}

#registration_field button{
    display: flex;
    width: 9rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 49px;
}

#registration_field .fa-magnifying-glass{
    margin-right: 10px;
}

#tyre-search .search-tyre {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #868f96 0%, #596164 100%);
    justify-content: space-around;
    color: white;
}

#tyre-search ul {
    list-style: none;
    margin-left: -40px;
}

#tyre-search img{
    width: 22rem;
}

.param-box {
    display: flex;
    justify-content: space-between;
    width: 16rem;
    align-items: center;
    flex-direction: column;
}

.param-box input{
    height: 25px;
    width: 2.5rem;
    margin-left: 7px;
}

#tyre-search div{
    display: flex;
    /*margin-left: -41px;*/
    align-items: center;
}

#tyre-search button{
    display: flex;
    width: 11rem;
    height: 2rem;
    align-items: center;
    justify-content: center;
    background: linear-gradient(109.6deg, rgb(255, 219, 47) 11.2%, rgb(244, 253, 0) 100.2%);
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 85px;
}

#tyre-search .fa-magnifying-glass{
    margin-right: 10px;
}

#main-part{
    display: flex;
}

#main-right-side{
    width: 40rem;
}

.top-side-left ul {
    display: flex;
}

.top-side-left ul li{
    list-style: none;
    margin-left: 45px;
}

.top-side-left ul li:nth-child(3){
    margin-right: 0px;
}

.top-side-left ul{
    list-style: none;
}

.left-side ul{
    list-style: none;
    margin-left: -25px;
    align-items: center;
    margin-bottom: 31px;
}

.title-br {
    font-size: 32px;
    font-weight: bold;
}

.top-side-left ul li:nth-child(2){
    margin-right: 40px;
}

.product-desc-img{
    width: 8rem;
}

.pr-desc p {
    margin-left: 10px;
    margin-top: -10px;
    color: gray;
    font-weight: bold;
}

.pr-desc {
    width: 12rem;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.deliv {
    width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.deliv img {
    margin-bottom: -30px;
    width: 6rem;
}

.deliv p {
    font-size: 13px;
}

.product-desc{
    display: flex;
}

.product-desc-right{
    margin-left: 45px;
}

.product-name {
    display: flex;
    margin-left: 12px;
}

.product-name p:nth-child(1) {
    margin-right: 15px;
}

.product-name p{
    font-size: 21px;
    font-weight: bold;
}

.main-product-desc li{
    display: flex;
    justify-content: space-between;
    height: 2.4rem;
}

.main-product-desc ul{
    width: 18rem;
}

.main-product-desc li:nth-child(1),
.main-product-desc li:nth-child(3),
.main-product-desc li:nth-child(5),
.main-product-desc li:nth-child(7),
.main-product-desc li:nth-child(9){
    background: lightgray;
}

.left-side{
    border: 1px solid lightgray;
    margin: 26px;
}

#payment-methods li:nth-child(1){
    border-top: 5px solid lightgreen;
}

#payment-methods ul{
    list-style: none;
    margin-left: -39px;
}

#payment-methods li:nth-child(1) p {
    border-left: 3px solid lightgreen;
    font-size: 20px;
    padding-left: 27px;
    font-weight: bold;
}

#payment-methods hr{
    width: 18rem;
}

#payment-methods img{
    width: 7rem;
    /*height: 4rem;*/
}

#payment-methods div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
    margin-left: 30px;
    margin-top: 30px;
}